[
    {elvis, [
        {config, [
            #{
                dirs => ["src"],
                filter => "*.erl",
                ruleset => erl_files_strict
            },
            #{
                dirs => ["test"],
                filter => "*.erl",
                ruleset => erl_files_test
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs => ["."],
                filter => ".gitignore",
                ruleset => gitignore
            }
        ]}
    ]}
].
