[
    {config, [
        #{
            files => ["src/**/*.erl"],
            ruleset => erl_files_strict,
            rules => [{elvis_style, max_function_length, #{max_length => 50}}]
        },
        #{
            files => ["test/**/*.erl"],
            ruleset => erl_files_test,
            rules => [{elvis_style, no_debug_call, disable}]
        },
        #{
            files => ["rebar.config"],
            ruleset => rebar_config
        },
        #{
            files => [".gitignore"],
            ruleset => gitignore
        }
    ]}
].
