%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% == Erlang Compiler ==

%% Erlang compiler options
{erl_opts, [ {parse_transform, lager_transform}
           , warn_unused_vars
           , warn_export_all
           , warn_shadow_vars
           , warn_unused_import
           , warn_unused_function
           , warn_bif_clash
           , warn_unused_record
           , warn_deprecated_function
           , warn_obsolete_guard
           , strict_validation
           , warn_export_vars
           , warn_exported_vars
           , warn_missing_spec
           , warn_untyped_record
           , debug_info]}.

{profiles, [
  {test, [
    {deps, [ {katana_test, {git, "https://github.com/inaka/katana-test.git", {tag, "0.0.5"}}}
           , {mixer,       {git, "https://github.com/inaka/mixer.git",       {tag, "0.1.5"}}}
           , {meck,        "0.8.4"}
           % , {jsx,         "2.8.0"}
            , {jiffy,         "0.14.7"}

           , {xref_runner, {git, "https://github.com/inaka/xref_runner",     {tag, "0.2.6"}}}%verificar si se necesita
    ]}
  ]},
  {shell, [
    {deps, [
      {sync, {git, "https://github.com/rustyio/sync.git", {ref, "9c78e7b"}}}
    ]}
  ]}
]}.

%% == Common Test ==

{ct_compile_opts, [ warn_unused_vars
                  , warn_export_all
                  , warn_shadow_vars
                  , warn_unused_import
                  , warn_unused_function
                  , warn_bif_clash
                  , warn_unused_record
                  , warn_deprecated_function
                  , warn_obsolete_guard
                  , strict_validation
                  , warn_export_vars
                  , warn_exported_vars
                  , warn_missing_spec
                  , warn_untyped_record
                  , debug_info]}.

{ct_opts, [ {sys_config, ["./config/test.config"]}
          , {logdir, "./logs"}
          , {verbose, true}
          ]}.

%% == Cover ==

{cover_enabled, true}.

{cover_opts, [verbose]}.

%% == Dependencies ==

{deps, [ {elvis,  {git, "git@github.com:inaka/elvis_core.git", {ref, "5541c16"}}}
       , {getopt,      "0.8.2"}
       , {egithub,     "0.2.2"}
       % , {katana,      "0.2.22"}
       , {katana,     {git, "git@github.com:inaka/erlang-katana.git", {ref, "0.2.22"}}}
       , {katana_code, "0.1.0"}
       ]}.

%% == Dialyzer ==

{dialyzer, [ {warnings, [ no_return
                        , unmatched_returns
                        , error_handling
                        ]}
           , {plt_apps, top_level_deps}
           , {plt_extra_apps, []}
           , {plt_location, local}
           , {base_plt_apps, [stdlib, kernel]}
           , {base_plt_location, global}]}.

%% == Shell ==

{shell, [{apps, [sync]}]}.

% {escript_name, "elvis"}.
% {escript_incl_apps, [getopt, jsx, aleppo, zipper, katana, katana_code]}.