[
    {
        elvis,
        [
            {config, [
                #{
                    dirs => ["../../src"],
                    filter => "*.erl",
                    ruleset => erl_files
                },
                #{
                    dirs => ["../.."],
                    filter => "rebar.config",
                    ruleset => rebar_config
                }
            ]}
        ]
    }
].
