[
    {
        elvis,
        [
            {config, [
                #{
                    dirs => ["../../test/examples"],
                    filter => "**.erl",
                    ruleset => erl_files
                },
                #{
                    dirs => ["../.."],
                    filter => "rebar.config",
                    ruleset => rebar_config
                }
            ]},
            {output_format, plain},
            %% Basic Auth
            {github_user, ""},
            {github_password, ""}
        ]
    }
].
